condor_submission/QCD*
condor_submission/GluGlu*
condor_submission/*Jets*
condor_submission/SVJ*
condor_submission/Hbb*
condor_submission/Yto*
condor_submission/TT*
condor_submission/*pem
condor_submission/*jdl
condor_submission/*txt
condor_submission/*zip
condor_submission/*sh
condor_submission/logs
*root
*png
*h5
selection_H.py
__pycache__
# H5 validation plots
h5_validation/out/
